<div id="form-wrapper">
    <p id="title">Crea tu cuenta</p>

    <div id="principal-wrapper">
        <input class="form-control" style="width:49%" type="text" name="" id="" placeholder="Nombre">
        <input class="form-control" style="width:49%" type="text" name="" id="" placeholder="Apellido">
        <input class="form-control" style="width:100%" type="email" name="" id="Email" placeholder="Email">
    </div>

    <div id="principal-wrapper">
        <input class="form-control" style="width:49%" type="text" name="" id="" placeholder="Contraseña">
        <input class="form-control" style="width:49%" type="text" name="" id="" placeholder="Confirmacion">
    </div>

    <a class="btn btn-primary">Enviar</a>
</div>